  body {
      position: relative; 
      text-align: center;
  }

  section {
padding-top:10%;
padding-bottom:10%;
  }

  #Home {
    background-image: url("../img/blaze-burn-burning-97494.jpg");
    height: 100vh;
    background-size: cover;
  }

  a:link {
    color: #ed8582;
}

a:visited {
    color: #ed8582;
}

a:hover {
    color: black;
}

a:active {
    color: gray;
}

h1 {
	color: ;
}

.button {
  border: 2px solid white;
  padding: 5px;
}


.greeting{
  margin-top: 200px;
  color: white;
}


img {
	margin: 5px;
}

#About {
  background-color: #eff1f4;
  height: ;
}

.text {
  margin-top: 15%;
}

#Skill {
  height: ;
}

#Project {
  background: repeating-radial-gradient(
  circle,
  #d9dce0,
  #d9dce0 10px,
  #eaeff7 10px, 
  #eaeff7 20px
);
}

.project {
	margin-top: 5%;
}

#Work {
  height: ;
}

#Education {
  color: black;
  background-color: #2e3538;
  height: 100vh;
  padding-top: 500px;
  padding: 10%;
  background: repeating-linear-gradient(
  45deg,
  #d9dce0,
  #d9dce0 10px,
  #eaeff7 10px,
  #eaeff7 20px
);
}

.textEd {
  margin-top: 10%;
}


#Contact{
  height: 70vh;
  margin-top: 20%;
}

.contact {
  height: 150px;
  padding-top: 2%;
  background-color: #2e3538;
  color: white;
}

.skill {
  margin: 30px;
}

.school {
  margin-top: 40px;
}

.top {
	margin-top: 50px;
}

@media (max-width: 575px) {
	#Contact{
  height: 50vh;
  margin-top: 30%;
}

	.contact {
		height: 110px;
	}

  img {
  	padding-bottom: 10px;
  }

  .top {
	margin-top: 0px;
}

.sm-top {
	margin-top: 20px;
}

}
